{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Our application is a user-friendly platform designed to facilitate food delivery services. Whether you're
                a busy professional, a family looking for convenience, or simply craving your favorite meal from local
                restaurants, our app provides a seamless ordering experience. With a wide selection of restaurants to
                choose from, real-time order tracking, and secure payment options, users can easily satisfy their
                cravings with just a few taps. Our team is dedicated to delivering an intuitive and efficient
                experience, continuously improving to meet the evolving needs of our users. Join us and enjoy the
                convenience of having delicious food delivered right to your doorstep.</p>
        </div>
    </div>
</div>
{% endblock content %}